.features {
    padding: 35px 0;
    
    .feature {
        padding: 50px 0;
        border-bottom: 3px solid #dbdbdb;

        .card {
            border: 0;

            .card-body {
                margin-top: 50px;

                h5 {
                    @include title-style($brand-primary)
                }
                h6 {
                    @include title-style($brand-danger)
                }
                p {
                    font-size: 18px;
                    line-height: 32px;
                    color: #555555;
                }
            }
            .card-icon img {
                margin: 0 4rem;
            }
        }

    }
}
.features .feature:nth-of-type(even) {
    text-align: left;
}
.features .feature:nth-of-type(even) .card .card-body h5 {
    border-right: 0px;
    border-left: 2px solid #45b5b7;
}
.features .feature:nth-of-type(even) .card .card-body h6 {
    border-right: 0px;
    border-left: 2px solid #ff0059;
}