@mixin fill-color($color) {
    float: left;
    font-weight: 600;
    padding: 10px 5px;
    color: $color;
}
@mixin icon-style($hover-color) {
    color: $hover-color;
}

@mixin hobbies-style($fill-color) {
    color: #fff;
    background-color: $fill-color;
    border-color:$fill-color;
    font-weight: 700;
    
}
@mixin button-style($color-font, $color-bg) {
    color:$color-font;
    background-color: $color-bg;
}
@mixin title-style($color-title) {
    font-size: 36px;
    font-weight: bold;
    color: $color-title;
    border-right: 2px solid $color-title;
    padding: 0 20px;
    margin-bottom: 30px;
}