@import './variable';
@import './logo-header';
@import './mixins';
@import './features.scss';
@import './suggestions';


#footer .news-letters .custom-btn {
    color: #ffffff;
    background-color: $brand-primary;
    border-radius: 0;
    margin-right: 5px;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $btn-primary-color-dark;
        font-weight:700;
    }
}
.custom-navbar .search-btn{
    border-radius: 0;
    background-color: $brand-primary;
    margin-right: 5px;
    color: #ffffff;
    font-weight: 600;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $btn-primary-color-dark;
    }
}
#carousel-featured .custom-more-read-btn {
    position: absolute;
    right: 40%;
    top: 180px;
    color: #ffffff;
    background-color: $brand-primary;
    border-radius: 0;
    font-size: 16px;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $btn-primary-color-dark;
        font-weight: 700;
    }
}
.overlay .custom-btn-signin {
    border-radius: 0;
    background-color: $brand-primary;
    color: #fff;
    box-shadow: none;
    width: 100%;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $btn-primary-color-dark;
        font-weight: 700;
    }  
}
.custom-more-read-btn {
    float: right;
    color: #ffffff;
    background-color: $brand-primary;
    border-radius: 0;
    font-size: 16px;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $btn-primary-color-dark;
        font-weight: 700;
    }
}
.contact-detailes .form-group .send-btn {
    background-color: $brand-primary;
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $btn-primary-color-dark;
        font-weight: 700;
    }  
}
#footer .title-footer p span a {

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: $brand-primary;
    }
}

.contact-detailes .form-group .cancel-btn {

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $brand-primary;
    }
}
.navbar-nav li.nav-item.active .nav-link {

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: $brand-primary;
        color: #ffffff;
    }
}
.title-question .signup-question-btn {

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: $brand-primary;
        font-weight:800;
    }
}
#footer .footer-sign a span {

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: $brand-warning;
        font-weight:600;
    }

}
.custom-btn-forget {

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {

        color: #fff;
        background-color: $brand-primary;
    }
}
#students-items .custom-carousel-indicators>li.active{
    background-color: $btn-primary-color-dark;
}

.custom-student-btn-detailes {
    background-color: #ffffff;
    color: $brand-primary;
    border-color: #ffffff;
}
#school-detailes .list-group-item.active {
    background-color: $brand-primary;
    border-color: $brand-primary
}
.age-student{
    color: $brand-primary;
    font-weight: 500;
}
.title-heading-one:after{
    content:"";
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 2px;
    background-color: $brand-primary;
    left: 50%;
    transform: translateX(-50%);
}
#students-items .card .card-body p span {
    color: $brand-warning;
    font-weight: 700;
    margin-right: 5px;
}
#smart-students .card .card-body p span {
    color: $brand-warning;
    font-weight: 600;
    margin-right: 5px;
}
#footer .footer-nav-links a:hover {
    color: $brand-warning;
}
.custom-contact-list .icon {
    font-size: 18px;
    color: $brand-warning;
}
.hobbies-options .hobbie-option:hover {
    @include hobbies-style($brand-warning)
}
.student-detailes-two .hobbies-options .hobbie-option:hover {
    @include hobbies-style($brand-danger)
}
.class-and-position .position {
   @include fill-color($brand-warning)
}
.student-detailes-two .class-and-position .position {
    @include fill-color($brand-danger)
}
.social-icons a:hover{
   @include icon-style($brand-warning)
}
.student-detailes-two .social-icons a:hover {
    @include icon-style($brand-danger)
}
.table .custom-thead-one {
    background-color: $brand-warning;
    color: #fff
}
.table .custom-thead-two {
    background-color: $brand-danger;
    color: #fff
}
.suggestions-one .card .card-body p span {
    @include icon-style($brand-warning);
    font-weight: 600;
    margin-right: 5px;
}
.suggestions-one .custom-student-btn-detailes:hover {
    background-color: $brand-warning;
    border-color: $brand-warning;
    color:#fff;
    font-weight: 700;
}
.suggestions-one .card:hover {
    border-color: $brand-warning;
    box-shadow: 0 0 15px $brand-warning;
}
.suggestions-two .card .card-body p span {
    @include icon-style($brand-danger);
    font-weight: 600;
    margin-right: 5px;
}
.suggestions-two .custom-student-btn-detailes:hover {
    background-color: $brand-danger;
    border-color: $brand-danger;
    color:#fff;
    font-weight: 700;
}
.suggestions-two .card:hover {
    border-color: $brand-danger;
    box-shadow: 0 0 15px $brand-danger;
}
